# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Build files
.buildozer/
bin/
*.apk
*.tar.gz
*.aab

# System and log files
*.log
.DS_Store
Thumbs.db

# Virtual environments
venv/
ENV/

# Personal or test data
user_data/
